html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}table{border-collapse:collapse;border-spacing:0;}body{-webkit-text-size-adjust:none}mark{background-color:transparent;color:inherit}input::-moz-focus-inner{border:0;padding:0}input[type="text"],input[type="email"],select,textarea{-moz-appearance:none;-webkit-appearance:none;-ms-appearance:none;appearance:none}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	line-height: 1.0;
	min-height: var(--viewport-height);
	min-width: 320px;
	overflow-x: hidden;
	word-wrap: break-word;
}

body:before {
	content: '';
	display: block;
	background-attachment: scroll;
	height: var(--background-height);
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	transform: scale(1);
	width: 100vw;
	z-index: 0;
	background-image: linear-gradient(126deg, rgba(0,0,0,0.82) 0%, rgba(0,0,0,0.941) 100%), url('images/bg.jpg');
	background-position: 0% 0%, center;
	background-repeat: repeat, no-repeat;
	background-size: cover, cover;
	background-color: #FFFFFF;
}

body:after {
	background-color: #000000;
	content: '';
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	transform: scale(1);
	transition: opacity 1s ease-in-out 0s, visibility 1s 0s;
	visibility: hidden;
	width: 100%;
	z-index: 1;
}

body.is-loading:after {
	opacity: 1;
	visibility: visible;
}

:root {
	--background-height: 100vh;
	--site-language-alignment: left;
	--site-language-direction: ltr;
	--site-language-flex-alignment: flex-start;
	--site-language-indent-left: 1;
	--site-language-indent-right: 0;
	--viewport-height: 100vh;
}

html {
	font-size: 18pt;
}

u {
	text-decoration: underline;
}

strong {
	color: inherit;
	font-weight: bolder;
}

em {
	font-style: italic;
}

code {
	background-color: rgba(144,144,144,0.25);
	border-radius: 0.25em;
	font-family: 'Lucida Console', 'Courier New', monospace;
	font-size: 0.9em;
	font-weight: normal;
	letter-spacing: 0;
	margin: 0 0.25em;
	padding: 0.25em 0.5em;
	text-indent: 0;
}

mark {
	background-color: rgba(144,144,144,0.25);
}

s {
	text-decoration: line-through;
}

sub {
	font-size: smaller;
	vertical-align: sub;
}

sup {
	font-size: smaller;
	vertical-align: super;
}

a {
	color: inherit;
	text-decoration: underline;
	transition: color 0.25s ease;
}

#wrapper {
	-webkit-overflow-scrolling: touch;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: var(--viewport-height);
	overflow: hidden;
	position: relative;
	z-index: 2;
}

#main {
	--alignment: center;
	--flex-alignment: center;
	--indent-left: 1;
	--indent-right: 1;
	--border-radius-tl: 0;
	--border-radius-tr: 0;
	--border-radius-br: 0;
	--border-radius-bl: 0;
	align-items: center;
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	justify-content: center;
	max-width: 100%;
	position: relative;
	text-align: var(--alignment);
	z-index: 1;
	transition: opacity 1.5s ease-in-out 0s;
}

#main > .inner {
	--padding-horizontal: 4rem;
	--padding-vertical: 3.5rem;
	--spacing: 1.125rem;
	--width: 40rem;
	border-radius: var(--border-radius-tl) var(--border-radius-tr) var(--border-radius-br) var(--border-radius-bl);
	max-width: 100%;
	position: relative;
	width: var(--width);
	z-index: 1;
	padding: var(--padding-vertical) var(--padding-horizontal);
}

#main > .inner > header {
	margin-bottom: var(--spacing);
}

#main > .inner > footer {
	margin-top: var(--spacing);
}

#main > .inner > * > * {
	margin-top: var(--spacing);
	margin-bottom: var(--spacing);
}

#main > .inner > * > :first-child {
	margin-top: 0 !important;
}

#main > .inner > * > :last-child {
	margin-bottom: 0 !important;
}

#main > .inner > .full {
	margin-left: calc(var(--padding-horizontal) * -1);
	max-width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
	width: calc(100% + calc(var(--padding-horizontal) * 2) + 0.4725px);
}

#main > .inner > .full:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	margin-top: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	margin-bottom: calc(var(--padding-vertical) * -1) !important;
}

#main > .inner > .full.screen {
	border-radius: 0 !important;
	max-width: 100vw;
	position: relative;
	width: 100vw;
	left: 50%;
	margin-left: -50vw;
	right: auto;
}

#main > .inner > * > .full {
	margin-left: calc(-4rem);
	max-width: calc(100% + 8rem + 0.4725px);
	width: calc(100% + 8rem + 0.4725px);
}

#main > .inner > * > .full.screen {
	border-radius: 0 !important;
	max-width: 100vw;
	position: relative;
	width: 100vw;
	left: 50%;
	margin-left: -50vw;
	right: auto;
}

#main > .inner > .active > .full:first-child {
	margin-top: -3.5rem !important;
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

#main > .inner > .active {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#main > .inner > .active > .full:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	margin-bottom: -3.5rem !important;
}

body.is-loading #main {
	opacity: 0;
}

body.is-instant #main, body.is-instant #main > .inner > *,body.is-instant #main > .inner > section > *  {
	transition: none !important;
}

body.is-instant:after {
	display: none !important;
	transition: none !important;
}

@keyframes loading-spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.deferred:before {
	content: '';
	display: block;
	width: 4rem;
	height: 4rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -2rem 0 0 -2rem;
	animation: loading-spinner 1s infinite linear;
	transition: opacity 0.25s ease;
	transition-delay: 0.5s;
	opacity: 0;
	z-index: -1;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICNmZmY7IHN0cm9rZS13aWR0aDogMS41cHg7IH08L3N0eWxlPjxkZWZzPjxjbGlwUGF0aCBpZD0iY29ybmVyIj48cG9seWdvbiBwb2ludHM9IjAsMCA0OCwwIDQ4LDQ4IDk2LDQ4IDk2LDk2IDAsOTYiIC8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2Nvcm5lcikiPjxjaXJjbGUgY3g9IjQ4IiBjeT0iNDgiIHI9IjMyIi8+PC9nPjwvc3ZnPg==');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3rem;
}

.deferred.loading:before {
	opacity: 0.35;
	z-index: 0;
}

.image {
	display: block;
	line-height: 0;
	max-width: 100%;
	position: relative;
}

.image .frame {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	vertical-align: top;
	width: 100%;
}

.image .frame img {
	border-radius: 0 !important;
	max-width: 100%;
	vertical-align: top;
	width: inherit;
}

.image.full .frame {
	display: block;
}

.image.full:first-child .frame {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}

.image.full:last-child .frame {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

#image01:not(:first-child) {
	margin-top: 2.5rem !important;
}

#image01:not(:last-child) {
	margin-bottom: 2.5rem !important;
}

#image01 .frame {
	width: 8rem;
	border-radius: 100%;
	transition: none;
}

#image01 .frame img {
	transition: none;
}

h1, h2, h3, p {
	direction: var(--site-language-direction);
	position: relative;
}

h1 span.p, h2 span.p, h3 span.p, p span.p {
	display: block;
	position: relative;
}

h1 span[style], h2 span[style], h3 span[style], p span[style], h1 strong, h2 strong, h3 strong, p strong, h1 a, h2 a, h3 a, p a, h1 code, h2 code, h3 code, p code, h1 mark, h2 mark, h3 mark, p mark {
	-webkit-text-fill-color: currentcolor;
}

#text03 {
	text-transform: uppercase;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.3rem;
	width: calc(100% + 0.3rem);
	font-size: 1.875em;
	line-height: 1.625;
	font-weight: 300;
	text-shadow: -0.004rem 0.125rem 0rem transparent;
}

#text03 a {
	text-decoration: underline;
}

#text03 a:hover {
	text-decoration: none;
}

#text03 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

h1.style2, h2.style2, h3.style2, p.style2 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.15rem;
	width: calc(100% + 0.15rem);
	font-size: 1.125em;
	line-height: 1.625;
	font-weight: 300;
}

h1.style2 a, h2.style2 a, h3.style2 a, p.style2 a {
	text-decoration: underline;
}

h1.style2 a:hover, h2.style2 a:hover, h3.style2 a:hover, p.style2 a:hover {
	text-decoration: none;
}

h1.style2 span.p:nth-child(n + 2), h2.style2 span.p:nth-child(n + 2), h3.style2 span.p:nth-child(n + 2), p.style2 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text01 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.025rem;
	width: calc(100% + 0.025rem);
	font-size: 1em;
	line-height: 1.625;
	font-weight: 300;
}

#text01 a {
	text-decoration: underline;
}

#text01 a:hover {
	text-decoration: none;
}

#text01 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text28 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.025rem;
	width: calc(100% + 0.025rem);
	font-size: 1.625em;
	line-height: 1.625;
	font-weight: 300;
}

#text28 a {
	text-decoration: underline;
}

#text28 a:hover {
	text-decoration: none;
}

#text28 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text04 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 300;
}

#text04 a {
	text-decoration: underline;
}

#text04 a:hover {
	text-decoration: none;
}

#text04 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text05 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1em;
	line-height: 1.625;
	font-weight: 400;
}

#text05 a {
	text-decoration: underline;
}

#text05 a:hover {
	text-decoration: none;
}

#text05 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

h1.style1, h2.style1, h3.style1, p.style1 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.025rem;
	width: calc(100% + 0.025rem);
	font-size: 1em;
	line-height: 1.625;
	font-weight: 300;
}

h1.style1 a, h2.style1 a, h3.style1 a, p.style1 a {
	text-decoration: underline;
}

h1.style1 a:hover, h2.style1 a:hover, h3.style1 a:hover, p.style1 a:hover {
	text-decoration: none;
}

h1.style1 span.p:nth-child(n + 2), h2.style1 span.p:nth-child(n + 2), h3.style1 span.p:nth-child(n + 2), p.style1 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text08 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1em;
	line-height: 1.625;
	font-weight: 400;
}

#text08 a {
	text-decoration: underline;
}

#text08 a:hover {
	text-decoration: none;
}

#text08 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text09 {
	text-align: left;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.025rem;
	width: calc(100% + 0.025rem);
	font-size: 0.875em;
	line-height: 1.625;
	font-weight: 300;
}

#text09 a {
	text-decoration: underline;
}

#text09 a:hover {
	text-decoration: none;
}

#text09 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text07 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1em;
	line-height: 1.625;
	font-weight: 400;
}

#text07 a {
	text-decoration: underline;
}

#text07 a:hover {
	text-decoration: none;
}

#text07 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text12 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1em;
	line-height: 1.625;
	font-weight: 300;
}

#text12 a {
	text-decoration: underline;
}

#text12 a:hover {
	text-decoration: none;
}

#text12 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text18 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1em;
	line-height: 1.625;
	font-weight: 400;
}

#text18 a {
	text-decoration: underline;
}

#text18 a:hover {
	text-decoration: none;
}

#text18 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text32 {
	text-align: left;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 0.875em;
	line-height: 1.625;
	font-weight: 300;
}

#text32 a {
	text-decoration: underline;
}

#text32 a:hover {
	text-decoration: none;
}

#text32 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text37 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 1em;
	line-height: 1.625;
	font-weight: 400;
}

#text37 a {
	text-decoration: underline;
}

#text37 a:hover {
	text-decoration: none;
}

#text37 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text06 {
	text-align: left;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	width: calc(100% + 0.05rem);
	font-size: 0.875em;
	line-height: 1.625;
	font-weight: 300;
}

#text06 a {
	text-decoration: underline;
}

#text06 a:hover {
	text-decoration: none;
}

#text06 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text13 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.15rem;
	width: calc(100% + 0.15rem);
	font-size: 1.5em;
	line-height: 1.625;
	font-weight: 300;
}

#text13 a {
	text-decoration: underline;
}

#text13 a:hover {
	text-decoration: none;
}

#text13 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text19 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.15rem;
	width: calc(100% + 0.15rem);
	font-size: 1.375em;
	line-height: 1.625;
	font-weight: 300;
}

#text19 a {
	text-decoration: underline;
}

#text19 a:hover {
	text-decoration: none;
}

#text19 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text20 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.125em;
	line-height: 1.625;
	font-weight: 400;
}

#text20 a {
	text-decoration: underline;
}

#text20 a:hover {
	text-decoration: none;
}

#text20 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text16 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.15rem;
	width: calc(100% + 0.15rem);
	font-size: 1.375em;
	line-height: 1.625;
	font-weight: 300;
}

#text16 a {
	text-decoration: underline;
}

#text16 a:hover {
	text-decoration: none;
}

#text16 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text27 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.125em;
	line-height: 1.625;
	font-weight: 400;
}

#text27 a {
	text-decoration: underline;
}

#text27 a:hover {
	text-decoration: none;
}

#text27 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text36 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.15rem;
	width: calc(100% + 0.15rem);
	font-size: 1.375em;
	line-height: 1.625;
	font-weight: 300;
}

#text36 a {
	text-decoration: underline;
}

#text36 a:hover {
	text-decoration: none;
}

#text36 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text11 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.15rem;
	width: calc(100% + 0.15rem);
	font-size: 1.375em;
	line-height: 1.625;
	font-weight: 300;
}

#text11 a {
	text-decoration: underline;
}

#text11 a:hover {
	text-decoration: none;
}

#text11 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text22 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.125em;
	line-height: 1.625;
	font-weight: 400;
}

#text22 a {
	text-decoration: underline;
}

#text22 a:hover {
	text-decoration: none;
}

#text22 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text33 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.15rem;
	width: calc(100% + 0.15rem);
	font-size: 1.375em;
	line-height: 1.625;
	font-weight: 300;
}

#text33 a {
	text-decoration: underline;
}

#text33 a:hover {
	text-decoration: none;
}

#text33 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text34 {
	text-align: center;
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.125em;
	line-height: 1.625;
	font-weight: 400;
}

#text34 a {
	text-decoration: underline;
}

#text34 a:hover {
	text-decoration: none;
}

#text34 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text10 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.15rem;
	width: calc(100% + 0.15rem);
	font-size: 1.375em;
	line-height: 1.625;
	font-weight: 300;
}

#text10 a {
	text-decoration: underline;
}

#text10 a:hover {
	text-decoration: none;
}

#text10 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

#text15 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.15rem;
	width: calc(100% + 0.15rem);
	font-size: 1.375em;
	line-height: 1.625;
	font-weight: 300;
}

#text15 a {
	text-decoration: underline;
}

#text15 a:hover {
	text-decoration: none;
}

#text15 span.p:nth-child(n + 2) {
	margin-top: 1rem;
}

hr {
	border: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

hr:before {
	content: '';
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}

#divider01:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider01:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider01:before {
	width: 5rem;
	border-top: solid 2px #FFFFFF;
	height: 2px;
	margin-top: -1px;
}

#divider05:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider05:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider05:before {
	width: 5rem;
	border-top: solid 2px #FFFFFF;
	height: 2px;
	margin-top: -1px;
}

#divider02:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider02:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider02:before {
	width: 5rem;
	border-top: solid 2px #FFFFFF;
	height: 2px;
	margin-top: -1px;
}

#divider03:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider03:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider03:before {
	width: 5rem;
	border-top: solid 2px #FFFFFF;
	height: 2px;
	margin-top: -1px;
}

#divider11:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider11:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider11:before {
	width: 5rem;
	border-top: solid 2px #FFFFFF;
	height: 2px;
	margin-top: -1px;
}

#divider13:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider13:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider13:before {
	width: 5rem;
	border-top: solid 2px #FFFFFF;
	height: 2px;
	margin-top: -1px;
}

#divider04:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider04:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider04:before {
	width: 5rem;
	border-top: solid 2px #FFFFFF;
	height: 2px;
	margin-top: -1px;
}

#divider07:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider07:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider07:before {
	width: 5rem;
	border-top: solid 2px #FFFFFF;
	height: 2px;
	margin-top: -1px;
}

#divider10:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider10:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider10:before {
	width: 5rem;
	border-top: solid 2px #FFFFFF;
	height: 2px;
	margin-top: -1px;
}

#divider08:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider08:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider08:before {
	width: 5rem;
	border-top: solid 2px #FFFFFF;
	height: 2px;
	margin-top: -1px;
}

#divider06:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider06:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider06:before {
	width: 5rem;
	border-top: solid 2px #FFFFFF;
	height: 2px;
	margin-top: -1px;
}

#divider09:not(:first-child) {
	margin-top: 0.625rem !important;
}

#divider09:not(:last-child) {
	margin-bottom: 0.625rem !important;
}

#divider09:before {
	width: 5rem;
	border-top: solid 2px #FFFFFF;
	height: 2px;
	margin-top: -1px;
}

.buttons {
	cursor: default;
	display: flex;
	justify-content: var(--flex-alignment);
	letter-spacing: 0;
	padding: 0;
}

.buttons li {
	max-width: 100%;
}

.buttons li a {
	align-items: center;
	justify-content: center;
	max-width: 100%;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	white-space: nowrap;
}

#buttons01 {
	gap: 0.75rem;
	flex-direction: row;
	flex-wrap: wrap;
}

#buttons01:not(:first-child) {
	margin-top: 1.5rem !important;
}

#buttons01:not(:last-child) {
	margin-bottom: 1.5rem !important;
}

#buttons01 li a {
	display: inline-block;
	width: auto;
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 1.25rem;
	vertical-align: middle;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	padding-left: calc(0.05rem + 1.25rem);
	font-size: 1em;
	font-weight: 300;
	border-radius: 0.625rem;
	direction: var(--site-language-direction);
	overflow: hidden;
	text-overflow: ellipsis;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#buttons01 .button {
	background-color: #121111;
	color: #FFFFFF;
}

#buttons01 .button:hover {
	background-color: #3A3A3D !important;
}

.buttons.style1 {
	gap: 0.75rem;
	flex-direction: row;
	flex-wrap: wrap;
}

.buttons.style1 li a {
	display: inline-block;
	width: auto;
	height: 2.5rem;
	line-height: 2.5rem;
	padding: 0 1.25rem;
	vertical-align: middle;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	padding-left: calc(0.05rem + 1.25rem);
	font-size: 1em;
	font-weight: 300;
	border-radius: 0.625rem;
	direction: var(--site-language-direction);
	overflow: hidden;
	text-overflow: ellipsis;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.buttons.style1 .button {
	background-color: #121111;
	color: #FFFFFF;
}

.buttons.style1 .button:hover {
	background-color: #3A3A3D !important;
}

.buttons.style2 {
	gap: 0.25rem;
	flex-direction: row;
	flex-wrap: wrap;
}

.buttons.style2 li a {
	display: inline-block;
	width: auto;
	height: 1.5rem;
	line-height: 1.5rem;
	padding: 0 0.75rem;
	vertical-align: middle;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	padding-left: calc(0.05rem + 0.75rem);
	font-size: 1em;
	font-weight: 300;
	border-radius: 0.625rem;
	direction: var(--site-language-direction);
	overflow: hidden;
	text-overflow: ellipsis;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

.buttons.style2 .button {
	background-color: #121111;
	color: #FFFFFF;
}

.buttons.style2 .button:hover {
	background-color: #3A3A3D !important;
}

#buttons09 {
	gap: 0.25rem;
	flex-direction: row;
	flex-wrap: wrap;
}

#buttons09:not(:first-child) {
	margin-top: 1.25rem !important;
}

#buttons09:not(:last-child) {
	margin-bottom: 1.25rem !important;
}

#buttons09 li a {
	display: inline-block;
	width: auto;
	height: 1.5rem;
	line-height: 1.5rem;
	padding: 0 0.75rem;
	vertical-align: middle;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	padding-left: calc(0.05rem + 0.75rem);
	font-size: 1em;
	font-weight: 300;
	border-radius: 0.625rem;
	direction: var(--site-language-direction);
	overflow: hidden;
	text-overflow: ellipsis;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#buttons09 .button {
	background-color: #121111;
	color: #FFFFFF;
}

#buttons09 .button:hover {
	background-color: #3A3A3D !important;
}

#buttons11 {
	gap: 0.25rem;
	flex-direction: row;
	flex-wrap: wrap;
}

#buttons11:not(:first-child) {
	margin-top: 1.25rem !important;
}

#buttons11:not(:last-child) {
	margin-bottom: 1.25rem !important;
}

#buttons11 li a {
	display: inline-block;
	width: auto;
	height: 1.5rem;
	line-height: 1.5rem;
	padding: 0 0.75rem;
	vertical-align: middle;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	padding-left: calc(0.05rem + 0.75rem);
	font-size: 1em;
	font-weight: 300;
	border-radius: 0.625rem;
	direction: var(--site-language-direction);
	overflow: hidden;
	text-overflow: ellipsis;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#buttons11 .button {
	background-color: #121111;
	color: #FFFFFF;
}

#buttons11 .button:hover {
	background-color: #3A3A3D !important;
}

#buttons02 {
	gap: 0.25rem;
	flex-direction: row;
	flex-wrap: wrap;
}

#buttons02:not(:first-child) {
	margin-top: 1.25rem !important;
}

#buttons02:not(:last-child) {
	margin-bottom: 1.25rem !important;
}

#buttons02 li a {
	display: inline-block;
	width: auto;
	height: 1.5rem;
	line-height: 1.5rem;
	padding: 0 0.75rem;
	vertical-align: middle;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.05rem;
	padding-left: calc(0.05rem + 0.75rem);
	font-size: 1em;
	font-weight: 300;
	border-radius: 0.625rem;
	direction: var(--site-language-direction);
	overflow: hidden;
	text-overflow: ellipsis;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#buttons02 .button {
	background-color: #121111;
	color: #FFFFFF;
}

#buttons02 .button:hover {
	background-color: #3A3A3D !important;
}

.icons {
	display: flex;
	flex-wrap: wrap;
	justify-content: var(--flex-alignment);
	letter-spacing: 0;
	padding: 0;
}

.icons li {
	position: relative;
	z-index: 1;
}

.icons li a {
	align-items: center;
	display: flex;
	justify-content: center;
}

.icons li a svg {
	display: block;
	position: relative;
}

.icons li a + svg {
	display: block;
	height: 100%;
	left: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.icons li a .label {
	display: none;
}

#icons01 {
	font-size: 1.5em;
	gap: 1.5rem;
}

#icons01:not(:first-child) {
	margin-top: 1.875rem !important;
}

#icons01:not(:last-child) {
	margin-bottom: 1.875rem !important;
}

#icons01 li a {
	border-radius: 100%;
	height: 2em;
	width: 2em;
	transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
}

#icons01 li a svg {
	height: 60%;
	width: 60%;
	transition: fill 0.25s ease;
}

#icons01 a svg {
	fill: #FFFFFF;
}

#icons01 a {
	border: solid 1px #FFFFFF;
}

#icons01 li a + svg {
	transition: fill 0.25s ease, stroke 0.25s ease;
}

#icons01 .n01:hover {
	border-color: #12E3FF !important;
}

#icons01 .n01:hover svg {
	fill: #12E3FF !important;
}

#icons01 .n02:hover {
	border-color: #12E3FF !important;
}

#icons01 .n02:hover svg {
	fill: #12E3FF !important;
}

#icons01 .n03:hover {
	border-color: #12E3FF !important;
}

#icons01 .n03:hover svg {
	fill: #12E3FF !important;
}

#icons01 .n04:hover {
	border-color: #12E3FF !important;
}

#icons01 .n04:hover svg {
	fill: #12E3FF !important;
}

.gallery .inner {
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}

.gallery ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: var(--flex-alignment);
}

.gallery ul li {
	position: relative;
}

.gallery ul li .thumbnail {
	border-radius: inherit;
	position: relative;
}

.gallery ul li .frame {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
}

.gallery ul li img {
	margin: 0;
	max-width: 100%;
	vertical-align: top;
	width: auto;
}

.gallery ul li .caption {
	width: 100%;
}

.gallery ul li .caption p {
	width: 100%;
}

@keyframes gallery-modal-spinner {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.gallery-modal {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	align-items: center;
	background-color: rgba(10,10,10,0.85);
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	left: 0;
	opacity: 0;
	outline: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	touch-action: pan-x pinch-zoom;
	transition: opacity 0.5s ease, visibility 0.5s, z-index 0.5s, background-color 0.5s ease;
	user-select: none;
	visibility: hidden;
	width: 100%;
	z-index: 0;
}

.gallery-modal:before {
	animation: gallery-modal-spinner 1s infinite linear;
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iOTZweCIgaGVpZ2h0PSI5NnB4IiB2aWV3Qm94PSIwIDAgOTYgOTYiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5jaXJjbGUge2ZpbGw6IHRyYW5zcGFyZW50OyBzdHJva2U6ICNmZmY7IHN0cm9rZS13aWR0aDogMS41cHg7IH08L3N0eWxlPjxkZWZzPjxjbGlwUGF0aCBpZD0iY29ybmVyIj48cG9seWdvbiBwb2ludHM9IjAsMCA0OCwwIDQ4LDQ4IDk2LDQ4IDk2LDk2IDAsOTYiIC8+PC9jbGlwUGF0aD48L2RlZnM+PGcgY2xpcC1wYXRoPSJ1cmwoI2Nvcm5lcikiPjxjaXJjbGUgY3g9IjQ4IiBjeT0iNDgiIHI9IjMyIi8+PC9nPjwvc3ZnPg==');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 4rem;
	content: '';
	display: block;
	height: 4rem;
	left: 50%;
	margin: -2rem 0 0 -2rem;
	opacity: 0;
	position: absolute;
	top: 50%;
	transition: opacity 0.25s ease;
	transition-delay: 0.5s;
	width: 4rem;
}

.gallery-modal .inner {
	opacity: 0;
	transform: translateY(0.75em);
	transition: all 0.5s ease;
}

.gallery-modal .inner img {
	box-shadow: 0 1em 3em 0 rgba(0,0,0,0.35);
	display: block;
	max-height: 85vh;
	max-width: 80vw;
}

.gallery-modal .nav {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICNmZmY7c3Ryb2tlLXdpZHRoOiAxLjVweDt9PC9zdHlsZT48bGluZSB4MT0iMjQiIHkxPSI4IiB4Mj0iNDgiIHkyPSIzMiIgLz48bGluZSB4MT0iMjQiIHkxPSI1NiIgeDI9IjQ4IiB5Mj0iMzIiIC8+PC9zdmc+');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 3rem;
	cursor: pointer;
	height: 40%;
	max-width: 10vw;
	min-height: 6rem;
	opacity: 0.25;
	position: fixed;
	top: 30%;
	transition: opacity 0.25s ease, transform 0.5s ease;
	width: 8rem;
}

.gallery-modal .nav:hover {
	opacity: 1;
}

.gallery-modal .nav.next {
	right: 0;
}

.gallery-modal .nav.previous {
	left: 0;
	transform: scaleX(-1);
}

.gallery-modal .close {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICNmZmY7c3Ryb2tlLXdpZHRoOiAxLjVweDt9PC9zdHlsZT48bGluZSB4MT0iMjAiIHkxPSIyMCIgeDI9IjQ0IiB5Mj0iNDQiIC8+PGxpbmUgeDE9IjIwIiB5MT0iNDQiIHgyPSI0NCIgeTI9IjIwIiAvPjwvc3ZnPg==');
	background-position: top 1rem right 1rem;
	background-repeat: no-repeat;
	background-size: 3rem;
	cursor: pointer;
	display: block;
	height: 6rem;
	opacity: 0.25;
	position: absolute;
	right: 0;
	top: 0;
	transition: opacity 0.25s ease, transform 0.5s ease;
	width: 6rem;
}

.gallery-modal .close:hover {
	opacity: 1;
}

.gallery-modal.visible {
	opacity: 1;
	pointer-events: auto;
	visibility: visible;
	z-index: 10000;
}

.gallery-modal.visible:before {
	opacity: 1;
}

.gallery-modal.loaded:before {
	opacity: 0 !important;
	transition-delay: 0s !important;
}

.gallery-modal.loaded .inner {
	opacity: 1;
	transform: translateY(0);
}

.gallery-modal.switching .inner {
	transition: opacity 0.375s ease, transform 0.5s ease;
}

.gallery-modal.switching.from-left .inner {
	transform: translateY(0) translateX(-1.5em);
}

.gallery-modal.switching.from-right .inner {
	transform: translateY(0) translateX(1.5em);
}

.gallery-modal.switching.done .inner {
	transition: opacity 0.375s ease;
	transform: translateY(0) translateX(0);
}

.gallery-modal.zooming {
	background-color: rgba(0,0,0,1);
}

.gallery-modal.zooming .nav.next {
	opacity: 0;
	pointer-events: none;
	transform: translateX(50%);
}

.gallery-modal.zooming .nav.previous {
	opacity: 0;
	pointer-events: none;
	transform: translateX(-50%) scaleX(-1);
}

.gallery-modal.zooming .close {
	opacity: 0;
	pointer-events: none;
	transform: translateX(50%) translateY(-50%);
}

#gallery05 .inner {
	max-width: 100%;
}

#gallery05 ul li {
	border-radius: 0rem;
	display: inline-block;
}

#gallery05 ul li .frame {
	border-radius: 0rem;
}

#gallery05 ul {
	gap: 1rem;
}

#gallery05 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery05 ul li img {
	height: auto;
	max-height: 22.125rem;
}

#gallery05 ul li .thumbnail img {
	transition: none;
}

#gallery06 .inner {
	max-width: 100%;
}

#gallery06 ul li {
	border-radius: 0rem;
	display: inline-block;
}

#gallery06 ul li .frame {
	border-radius: 0rem;
}

#gallery06 ul {
	gap: 1rem;
}

#gallery06 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery06 ul li img {
	height: auto;
	max-height: 17.75rem;
}

#gallery06 ul li .thumbnail img {
	transition: none;
}

#gallery02 .inner {
	max-width: 100%;
}

#gallery02 ul li {
	border-radius: 0rem;
	display: inline-block;
}

#gallery02 ul li .frame {
	border-radius: 0rem;
}

#gallery02 ul {
	gap: 1rem;
}

#gallery02 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery02 ul li img {
	height: auto;
	max-height: 17.75rem;
}

#gallery02 ul li .thumbnail img {
	transition: none;
}

#gallery04 .inner {
	max-width: 100%;
}

#gallery04 ul li {
	border-radius: 0rem;
	display: inline-block;
}

#gallery04 ul li .frame {
	border-radius: 0rem;
}

#gallery04 ul {
	gap: 1rem;
}

#gallery04 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery04 ul li img {
	height: auto;
	max-height: 24.625rem;
}

#gallery04 ul li .thumbnail img {
	transition: none;
}

#gallery03 .inner {
	max-width: 100%;
}

#gallery03 ul li {
	border-radius: 0rem;
	display: inline-block;
}

#gallery03 ul li .frame {
	border-radius: 0rem;
}

#gallery03 ul {
	gap: 1rem;
}

#gallery03 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery03 ul li img {
	height: auto;
	max-height: 24.625rem;
}

#gallery03 ul li .thumbnail img {
	transition: none;
}

#gallery09 .inner {
	max-width: 100%;
}

#gallery09 ul li {
	border-radius: 0rem;
	display: inline-block;
}

#gallery09 ul li .frame {
	border-radius: 0rem;
}

#gallery09 ul {
	gap: 1rem;
}

#gallery09 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery09 ul li img {
	height: auto;
	max-height: 22.125rem;
}

#gallery09 ul li .thumbnail img {
	transition: none;
}

#gallery01 .inner {
	max-width: 100%;
}

#gallery01 ul li {
	border-radius: 0rem;
	display: inline-block;
}

#gallery01 ul li .frame {
	border-radius: 0rem;
}

#gallery01 ul {
	gap: 1rem;
}

#gallery01 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery01 ul li img {
	height: auto;
	max-height: 21.875rem;
}

#gallery01 ul li .thumbnail img {
	transition: none;
}

#gallery08 .inner {
	max-width: 100%;
}

#gallery08 ul li {
	border-radius: 0rem;
	display: inline-block;
}

#gallery08 ul li .frame {
	border-radius: 0rem;
}

#gallery08 ul {
	gap: 1rem;
}

#gallery08 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery08 ul li img {
	height: auto;
	max-height: 22.375rem;
}

#gallery08 ul li .thumbnail img {
	transition: none;
}

#gallery07 .inner {
	max-width: 100%;
}

#gallery07 ul li {
	border-radius: 0rem;
	display: inline-block;
}

#gallery07 ul li .frame {
	border-radius: 0rem;
}

#gallery07 ul {
	gap: 1rem;
}

#gallery07 ul li .thumbnail {
	display: block;
	transition: none;
}

#gallery07 ul li img {
	height: auto;
	max-height: 17.5rem;
}

#gallery07 ul li .thumbnail img {
	transition: none;
}

.list {
	display: block;
}

.list ul, .list ol {
	display: inline-block;
	max-width: 100%;
	text-align: var(--site-language-alignment);
	vertical-align: middle;
}

.list ul li, .list ol li {
	direction: var(--site-language-direction);
	display: flex;
	position: relative;
}

.list ul li:before, .list ol li:before {
	background-repeat: no-repeat;
	content: '';
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	font-variant: normal !important;
	letter-spacing: 0 !important;
	order: 1;
	position: relative;
}

.list ul li:after, .list ol li:after {
	content: '';
	display: block;
	flex-grow: 0;
	flex-shrink: 0;
	order: 2;
	pointer-events: none;
}

.list ul li p, .list ol li p {
	flex-grow: 1;
	flex-shrink: 1;
	order: 3;
}

.list ul li:first-child, .list ol li:first-child {
	margin-top: 0 !important;
}

#list01 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.025rem;
	font-size: 0.875em;
	line-height: 1.625;
	font-weight: 300;
}

#list01 a {
	text-decoration: underline;
}

#list01 a:hover {
	text-decoration: none;
}

#list01 ul {
	width: 100%;
}

#list01 ul li {
	margin-top: 0.125rem;
}

#list01 ul li:after {
	width: 0.546875rem;
}

#list01 ul li:before {
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2040%2040%22%3E%3Crect%20x%3D%227.5%22%20y%3D%227.5%22%20transform%3D%22matrix%280.7071%20-0.7071%200.7071%200.7071%20-8.2843%2020%29%22%20width%3D%2225%22%20height%3D%2225%22%20fill%3D%22%23FFFFFF%22%20%2F%3E%3C%2Fsvg%3E');
	border-radius: 0.625rem;
	background-position: left 60%;
	background-repeat: no-repeat;
	background-size: contain;
	height: 1.421875rem;
	line-height: 1.421875rem;
	min-width: 0.66650390625rem;
}

#list04 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.025rem;
	font-size: 0.875em;
	line-height: 1.625;
	font-weight: 300;
}

#list04 a {
	text-decoration: underline;
}

#list04 a:hover {
	text-decoration: none;
}

#list04 ul {
	width: 100%;
}

#list04 ul li {
	margin-top: 0.125rem;
}

#list04 ul li:after {
	width: 0.546875rem;
}

#list04 ul li:before {
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2040%2040%22%3E%3Crect%20x%3D%227.5%22%20y%3D%227.5%22%20transform%3D%22matrix%280.7071%20-0.7071%200.7071%200.7071%20-8.2843%2020%29%22%20width%3D%2225%22%20height%3D%2225%22%20fill%3D%22%23FFFFFF%22%20%2F%3E%3C%2Fsvg%3E');
	border-radius: 0.625rem;
	background-position: left 60%;
	background-repeat: no-repeat;
	background-size: contain;
	height: 1.421875rem;
	line-height: 1.421875rem;
	min-width: 0.66650390625rem;
}

#list03 {
	color: #FFFFFF;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 0.025rem;
	font-size: 1em;
	line-height: 1.625;
	font-weight: 300;
}

#list03 a {
	text-decoration: underline;
}

#list03 a:hover {
	text-decoration: none;
}

#list03 ul {
	width: 100%;
}

#list03 ul li {
	margin-top: 0.125rem;
}

#list03 ul li:after {
	width: 0.625rem;
}

#list03 ul li:before {
	background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2040%2040%22%3E%3Crect%20x%3D%227.5%22%20y%3D%227.5%22%20transform%3D%22matrix%280.7071%20-0.7071%200.7071%200.7071%20-8.2843%2020%29%22%20width%3D%2225%22%20height%3D%2225%22%20fill%3D%22%23FFFFFF%22%20%2F%3E%3C%2Fsvg%3E');
	border-radius: 0.625rem;
	background-position: left 60%;
	background-repeat: no-repeat;
	background-size: contain;
	height: 1.625rem;
	line-height: 1.625rem;
	min-width: 0.76171875rem;
}

@media (orientation: portrait) {
	.gallery-modal .inner img {
		max-width: 100vw;
	}
	
	.gallery-modal .nav {
		background-image: none;
		max-width: 35%;
		opacity: 1;
		width: 8rem;
	}
	
	.gallery-modal .nav:before {
		background-color: rgba(144,144,144,0.5);
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjRweCIgaGVpZ2h0PSI2NHB4IiB2aWV3Qm94PSIwIDAgNjQgNjQiIHpvb21BbmRQYW49ImRpc2FibGUiPjxzdHlsZT5saW5lIHtzdHJva2U6ICNmZmY7c3Ryb2tlLXdpZHRoOiAzcHg7fTwvc3R5bGU+PGxpbmUgeDE9IjI0IiB5MT0iOCIgeDI9IjQ4IiB5Mj0iMzIiIC8+PGxpbmUgeDE9IjI0IiB5MT0iNTYiIHgyPSI0OCIgeTI9IjMyIiAvPjwvc3ZnPg==');
		background-position: center;
		background-repeat: no-repeat;
		background-size: 1.5rem;
		border-radius: 3rem;
		content: '';
		display: block;
		height: 3rem;
		position: absolute;
		right: 1rem;
		top: calc(50% - 1.5rem);
		width: 3rem;
	}
}

@media (max-width: 1920px) {
	
}

@media (max-width: 1680px) {
	html {
		font-size: 13pt;
	}
}

@media (max-width: 1280px) {
	html {
		font-size: 13pt;
	}
	
	
	
	.gallery-modal .nav {
		opacity: 1;
	}
	
	.gallery-modal .close {
		opacity: 1;
	}
}

@media (max-width: 1024px) {
	
}

@media (max-width: 980px) {
	html {
		font-size: 11pt;
	}
}

@media (max-width: 736px) {
	html {
		font-size: 11pt;
	}
	
	
	
	#main > .inner {
		--padding-horizontal: 2rem;
		--padding-vertical: 3.5rem;
		--spacing: 1.125rem;
	}
	
	#main > .inner > * > .full {
		margin-left: calc(-2rem);
		max-width: calc(100% + 4rem + 0.4725px);
		width: calc(100% + 4rem + 0.4725px);
	}
	
	#main > .inner > * > .full.screen {
		margin-left: -50vw;
	}
	
	#main > .inner > .active > .full:first-child {
		margin-top: -3.5rem !important;
	}
	
	#main > .inner > .active > .full:last-child {
		margin-bottom: -3.5rem !important;
	}
	
	#image01:not(:first-child) {
		margin-top: 1.875rem !important;
	}
	
	#image01:not(:last-child) {
		margin-bottom: 1.875rem !important;
	}
	
	#image01 .frame {
		width: 8rem;
	}
	
	#text03 {
		letter-spacing: 0.2625rem;
		width: calc(100% + 0.2625rem);
		font-size: 1.875em;
		line-height: 1.625;
	}
	
	h1.style2, h2.style2, h3.style2, p.style2 {
		letter-spacing: 0.13125rem;
		width: calc(100% + 0.13125rem);
		font-size: 1.125em;
		line-height: 1.625;
	}
	
	#text01 {
		letter-spacing: 0.021875rem;
		width: calc(100% + 0.021875rem);
		font-size: 1em;
		line-height: 1.625;
	}
	
	#text28 {
		letter-spacing: 0.021875rem;
		width: calc(100% + 0.021875rem);
		font-size: 1.625em;
		line-height: 1.625;
	}
	
	#text04 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text05 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1em;
		line-height: 1.625;
	}
	
	h1.style1, h2.style1, h3.style1, p.style1 {
		letter-spacing: 0.021875rem;
		width: calc(100% + 0.021875rem);
		font-size: 1em;
		line-height: 1.625;
	}
	
	#text08 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1em;
		line-height: 1.625;
	}
	
	#text09 {
		letter-spacing: 0.021875rem;
		width: calc(100% + 0.021875rem);
		font-size: 0.875em;
		line-height: 1.625;
	}
	
	#text07 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1em;
		line-height: 1.625;
	}
	
	#text12 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1em;
		line-height: 1.625;
	}
	
	#text18 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1em;
		line-height: 1.625;
	}
	
	#text32 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 0.875em;
		line-height: 1.625;
	}
	
	#text37 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 1em;
		line-height: 1.625;
	}
	
	#text06 {
		letter-spacing: 0.04375rem;
		width: calc(100% + 0.04375rem);
		font-size: 0.875em;
		line-height: 1.625;
	}
	
	#text13 {
		letter-spacing: 0.13125rem;
		width: calc(100% + 0.13125rem);
		font-size: 1.5em;
		line-height: 1.625;
	}
	
	#text19 {
		letter-spacing: 0.13125rem;
		width: calc(100% + 0.13125rem);
		font-size: 1.375em;
		line-height: 1.625;
	}
	
	#text20 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1.125em;
		line-height: 1.625;
	}
	
	#text16 {
		letter-spacing: 0.13125rem;
		width: calc(100% + 0.13125rem);
		font-size: 1.375em;
		line-height: 1.625;
	}
	
	#text27 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1.125em;
		line-height: 1.625;
	}
	
	#text36 {
		letter-spacing: 0.13125rem;
		width: calc(100% + 0.13125rem);
		font-size: 1.375em;
		line-height: 1.625;
	}
	
	#text11 {
		letter-spacing: 0.13125rem;
		width: calc(100% + 0.13125rem);
		font-size: 1.375em;
		line-height: 1.625;
	}
	
	#text22 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1.125em;
		line-height: 1.625;
	}
	
	#text33 {
		letter-spacing: 0.13125rem;
		width: calc(100% + 0.13125rem);
		font-size: 1.375em;
		line-height: 1.625;
	}
	
	#text34 {
		letter-spacing: 0rem;
		width: 100%;
		font-size: 1.125em;
		line-height: 1.625;
	}
	
	#text10 {
		letter-spacing: 0.13125rem;
		width: calc(100% + 0.13125rem);
		font-size: 1.375em;
		line-height: 1.625;
	}
	
	#text15 {
		letter-spacing: 0.13125rem;
		width: calc(100% + 0.13125rem);
		font-size: 1.375em;
		line-height: 1.625;
	}
	
	#divider01:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider01:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider01:before {
		width: 5rem;
	}
	
	#divider05:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider05:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider05:before {
		width: 5rem;
	}
	
	#divider02:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider02:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider02:before {
		width: 5rem;
	}
	
	#divider03:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider03:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider03:before {
		width: 5rem;
	}
	
	#divider11:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider11:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider11:before {
		width: 5rem;
	}
	
	#divider13:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider13:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider13:before {
		width: 5rem;
	}
	
	#divider04:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider04:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider04:before {
		width: 5rem;
	}
	
	#divider07:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider07:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider07:before {
		width: 5rem;
	}
	
	#divider10:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider10:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider10:before {
		width: 5rem;
	}
	
	#divider08:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider08:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider08:before {
		width: 5rem;
	}
	
	#divider06:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider06:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider06:before {
		width: 5rem;
	}
	
	#divider09:not(:first-child) {
		margin-top: 0.625rem !important;
	}
	
	#divider09:not(:last-child) {
		margin-bottom: 0.625rem !important;
	}
	
	#divider09:before {
		width: 5rem;
	}
	
	#buttons01 {
		gap: 0.75rem;
	}
	
	#buttons01:not(:first-child) {
		margin-top: 1.125rem !important;
	}
	
	#buttons01:not(:last-child) {
		margin-bottom: 1.125rem !important;
	}
	
	#buttons01 li a {
		letter-spacing: 0.05rem;
		padding-left: calc(0.05rem + 1.25rem);
		font-size: 1em;
	}
	
	.buttons.style1 {
		gap: 0.75rem;
	}
	
	.buttons.style1 li a {
		letter-spacing: 0.05rem;
		padding-left: calc(0.05rem + 1.25rem);
		font-size: 1em;
	}
	
	.buttons.style2 {
		gap: 0.25rem;
	}
	
	.buttons.style2 li a {
		letter-spacing: 0.05rem;
		padding-left: calc(0.05rem + 0.75rem);
		font-size: 1em;
	}
	
	#buttons09 {
		gap: 0.25rem;
	}
	
	#buttons09:not(:first-child) {
		margin-top: 0.9375rem !important;
	}
	
	#buttons09:not(:last-child) {
		margin-bottom: 0.9375rem !important;
	}
	
	#buttons09 li a {
		letter-spacing: 0.05rem;
		padding-left: calc(0.05rem + 0.75rem);
		font-size: 1em;
	}
	
	#buttons11 {
		gap: 0.25rem;
	}
	
	#buttons11:not(:first-child) {
		margin-top: 0.9375rem !important;
	}
	
	#buttons11:not(:last-child) {
		margin-bottom: 0.9375rem !important;
	}
	
	#buttons11 li a {
		letter-spacing: 0.05rem;
		padding-left: calc(0.05rem + 0.75rem);
		font-size: 1em;
	}
	
	#buttons02 {
		gap: 0.25rem;
	}
	
	#buttons02:not(:first-child) {
		margin-top: 0.9375rem !important;
	}
	
	#buttons02:not(:last-child) {
		margin-bottom: 0.9375rem !important;
	}
	
	#buttons02 li a {
		letter-spacing: 0.05rem;
		padding-left: calc(0.05rem + 0.75rem);
		font-size: 1em;
	}
	
	#icons01 {
		font-size: 1.5em;
		gap: 1.5rem;
	}
	
	#icons01:not(:first-child) {
		margin-top: 1.40625rem !important;
	}
	
	#icons01:not(:last-child) {
		margin-bottom: 1.40625rem !important;
	}
	
	.gallery-modal .close {
		background-position: top 0.5rem right 0.5rem;
	}
	
	#gallery05 ul li img {
		max-height: 16.59375rem;
	}
	
	#gallery06 ul li img {
		max-height: 13.3125rem;
	}
	
	#gallery02 ul li img {
		max-height: 13.3125rem;
	}
	
	#gallery04 ul li img {
		max-height: 18.46875rem;
	}
	
	#gallery03 ul li img {
		max-height: 18.46875rem;
	}
	
	#gallery09 ul li img {
		max-height: 16.59375rem;
	}
	
	#gallery01 ul li img {
		max-height: 16.40625rem;
	}
	
	#gallery08 ul li img {
		max-height: 16.78125rem;
	}
	
	#gallery07 ul li img {
		max-height: 13.125rem;
	}
	
	#list01 {
		letter-spacing: 0.021875rem;
		font-size: 0.875em;
		line-height: 1.625;
	}
	
	#list01 ul li:after {
		width: 0.546875rem;
	}
	
	#list01 ul li:before {
		height: 1.421875rem;
		line-height: 1.421875rem;
		min-width: 0.66650390625rem;
	}
	
	#list04 {
		letter-spacing: 0.021875rem;
		font-size: 0.875em;
		line-height: 1.625;
	}
	
	#list04 ul li:after {
		width: 0.546875rem;
	}
	
	#list04 ul li:before {
		height: 1.421875rem;
		line-height: 1.421875rem;
		min-width: 0.66650390625rem;
	}
	
	#list03 {
		letter-spacing: 0.021875rem;
		font-size: 1em;
		line-height: 1.625;
	}
	
	#list03 ul li:after {
		width: 0.625rem;
	}
	
	#list03 ul li:before {
		height: 1.625rem;
		line-height: 1.625rem;
		min-width: 0.76171875rem;
	}
}

@media (max-width: 480px) {
	#main > .inner {
		--spacing: 0.984375rem;
	}
	
	#buttons01 {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	
	#buttons01 li a {
		max-width: 32rem;
		width: 100%;
	}
	
	.buttons.style1 {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	
	.buttons.style1 li a {
		max-width: 32rem;
		width: 100%;
	}
	
	.buttons.style2 {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	
	.buttons.style2 li a {
		max-width: 32rem;
		width: 100%;
	}
	
	#buttons09 {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	
	#buttons09 li a {
		max-width: 32rem;
		width: 100%;
	}
	
	#buttons11 {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	
	#buttons11 li a {
		max-width: 32rem;
		width: 100%;
	}
	
	#buttons02 {
		flex-direction: column;
		flex-wrap: nowrap;
	}
	
	#buttons02 li a {
		max-width: 32rem;
		width: 100%;
	}
}

@media (max-width: 360px) {
	#main > .inner {
		--padding-horizontal: 1.5rem;
		--padding-vertical: 2.625rem;
		--spacing: 0.84375rem;
	}
	
	#main > .inner > * > .full {
		margin-left: calc(-1.5rem);
		max-width: calc(100% + 3rem + 0.4725px);
		width: calc(100% + 3rem + 0.4725px);
	}
	
	#main > .inner > * > .full.screen {
		margin-left: -50vw;
	}
	
	#main > .inner > .active > .full:first-child {
		margin-top: -2.625rem !important;
	}
	
	#main > .inner > .active > .full:last-child {
		margin-bottom: -2.625rem !important;
	}
	
	#text03 {
		font-size: 1.5em;
	}
	
	h1.style2, h2.style2, h3.style2, p.style2 {
		font-size: 1.125em;
	}
	
	#text01 {
		font-size: 1em;
	}
	
	#text28 {
		font-size: 1.5em;
	}
	
	#text04 {
		font-size: 1.5em;
	}
	
	#text05 {
		font-size: 1em;
	}
	
	h1.style1, h2.style1, h3.style1, p.style1 {
		font-size: 1em;
	}
	
	#text08 {
		font-size: 1em;
	}
	
	#text09 {
		font-size: 0.875em;
	}
	
	#text07 {
		font-size: 1em;
	}
	
	#text12 {
		font-size: 1em;
	}
	
	#text18 {
		font-size: 1em;
	}
	
	#text32 {
		font-size: 0.875em;
	}
	
	#text37 {
		font-size: 1em;
	}
	
	#text06 {
		font-size: 0.875em;
	}
	
	#text13 {
		font-size: 1.5em;
	}
	
	#text19 {
		font-size: 1.375em;
	}
	
	#text20 {
		font-size: 1.125em;
	}
	
	#text16 {
		font-size: 1.375em;
	}
	
	#text27 {
		font-size: 1.125em;
	}
	
	#text36 {
		font-size: 1.375em;
	}
	
	#text11 {
		font-size: 1.375em;
	}
	
	#text22 {
		font-size: 1.125em;
	}
	
	#text33 {
		font-size: 1.375em;
	}
	
	#text34 {
		font-size: 1.125em;
	}
	
	#text10 {
		font-size: 1.375em;
	}
	
	#text15 {
		font-size: 1.375em;
	}
	
	#buttons01 {
		gap: 0.5625rem;
	}
	
	.buttons.style1 {
		gap: 0.5625rem;
	}
	
	.buttons.style2 {
		gap: 0.1875rem;
	}
	
	#buttons09 {
		gap: 0.1875rem;
	}
	
	#buttons11 {
		gap: 0.1875rem;
	}
	
	#buttons02 {
		gap: 0.1875rem;
	}
	
	#icons01 {
		gap: 1.125rem;
	}
	
	#gallery05 ul {
		gap: 0.75rem;
	}
	
	#gallery06 ul {
		gap: 0.75rem;
	}
	
	#gallery02 ul {
		gap: 0.75rem;
	}
	
	#gallery04 ul {
		gap: 0.75rem;
	}
	
	#gallery03 ul {
		gap: 0.75rem;
	}
	
	#gallery09 ul {
		gap: 0.75rem;
	}
	
	#gallery01 ul {
		gap: 0.75rem;
	}
	
	#gallery08 ul {
		gap: 0.75rem;
	}
	
	#gallery07 ul {
		gap: 0.75rem;
	}
	
	#list01 {
		font-size: 0.875em;
	}
	
	#list01 ul li:after {
		width: 0.546875rem;
	}
	
	#list01 ul li:before {
		height: 1.421875rem;
		line-height: 1.421875rem;
		min-width: 0.66650390625rem;
	}
	
	#list04 {
		font-size: 0.875em;
	}
	
	#list04 ul li:after {
		width: 0.546875rem;
	}
	
	#list04 ul li:before {
		height: 1.421875rem;
		line-height: 1.421875rem;
		min-width: 0.66650390625rem;
	}
	
	#list03 {
		font-size: 1em;
	}
	
	#list03 ul li:after {
		width: 0.625rem;
	}
	
	#list03 ul li:before {
		height: 1.625rem;
		line-height: 1.625rem;
		min-width: 0.76171875rem;
	}
}